@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

/* Rest of your CSS code remains the same */
#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.15;
  }
}

.container {
  width: 800px;
  padding: 50px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container p {
  color: #fa73a7;
  font-weight: 600;
  font-size: 85px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Silkscreen', sans-serif;

}
.container input {
  text-align: center;
  width: 55%;
  justify-content: center;
  height: 50px;
  border: 1px solid #e7e7e7;
  outline: 1;
  padding: 10px;
  margin: 10px 0 10px;
  border-radius: 50px;
  margin-left: 22%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.container button {
  width: 30%;
  height: 45px;
  background: #59abbdbd;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px 0;
  font-weight: 500;
  margin-left: 35%;
}

.imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
}

#imgBox img {
  transition: max-height 10s;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 38.5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
}
